<div class="container-fluid mt-3">
    <h1 class="heading text-center text-light">LIST BARANG</h1>
  
    <a href="/barang/add" class="btn rounded-pill text-center text-dark" style="background-color: #ffe715;"><i class="bi bi-plus"></i> Tambah Barang</a>
    <div class="row mt-3">
    <% barangs.forEach(barang => { %>
    <div class="col-md-4">
      <div class="card p-3 mb-2 bg-light">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <img src="/images/<%= barang.img %>"  class="img-thumbnail" alt="image" style="height: 300px;"/>
            <div class="icon"><i class="bx bxl-mailchimp"></i></div>
          </div>
        </div>
        <div class="badge text-dark"><span>Qty : <%= barang.qty %></span></div>
        <div class="mt-5">
          <h3 class="heading "><%= barang.namaBarang %></h3>
          <h3 class="heading "><%= barang.hargaBarang %></h3>
          <div class="mt-5">
            <div class="mt-3">
              <a href="/barang/<%= barang.namaBarang %>" class="btn btn-warning badge rounded-pill"><i class="bi bi-activity"></i>  Details</a>
              <form method="POST" action="/barang?_method=DELETE" class="d-inline">
                <input type="hidden" name="namaBarang" value="<%= barang.namaBarang %>">
                <button type="submit" class="btn btn-danger badge rounded-pill" onclick="return confirm('yakin?')"><i class="bi bi-person-dash"></i>  Delete</button>
              </form>
              <a href="/barang/edit/<%= barang.namaBarang %>" class="btn btn-primary badge rounded-pill"><i class="bi bi-link-45deg"></i>  Update</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div></div>
